<!DOCTYPE html>
<html>
  
  <head>
    <title>Palgo Commission Calculation</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <header>
      <center>
        <%= image_tag 'logo.png', :class => 'logo' %>
      </center>
    </header>
    <div class="container">
        <%= yield %>
    </div>
  </body>

</html>

</body>
</html>
